apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${service}-${secret_name}
spec:
  data:
    - secretKey: ${secret_name}
      remoteRef:
        key: TODO-HUMAN: secret value provisioning
